.logo-text{
    color:#F9FAF8;
    font-size:24px;
}

body {
 font-family:Roboto;
 
 display:flex;
 flex-direction:column;

}

.body {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding-bottom:100px;

}


.header {
background-color: #1f2937;
color:white;

display:flex;
flex-direction:column;
padding: 20px 200px;

}

.container1, .container2 {
    display:flex;
    padding-bottom:100px;

}

.container3 {
  display:flex;
  padding-left:200px;
  padding-right:200px;


  gap:15px;

}



.signup-title {
   font-size:48px;
   color:#F9FAF8;
   font-weight:900;




}

.signup-msg{
  font-size:18px;
  color:#E5E7EB;

  padding:16px 0;

  
}

a{
 text-decoration:none;
 color:#E5E7EB;
}

ul {
 list-style-type:none;
 display:flex;
 margin-left:auto;

 gap:25px;

}

.hero-text {
    max-width:400px;
    padding-right:300px;
    display:flex;
    flex-direction:column;
    
}

.button {
    border-radius: 10px;
    background-color:#3882F6;
    color:white;
    font-size:21px;
    font-weight:900;
    padding:12px 50px;

    border: none;
    margin-right:auto;

}

.info{
    font-size:36px;
    color:#1F2937;
    font-weight:900;

    padding-top:20px;
    padding-bottom:20px;


}

.img-text {
    display:flex;
    flex-direction:column;
    max-width:200px;





}

.quote {
  background-color:#E5E7EB;
  height:250px;
  padding-left:300px;
  padding-right:300px;

  padding-top:30px;

  

  display:flex;
  flex-direction:column;



}

.quote-text{
    font-size:36px;
    color:#1F2937;
    font-style: italic;



}

.quote-author{
    margin-left:auto;

    padding-right:100px;
    padding-top:20px;


    font-size:36px;
    font-weight:900;


}

.footer {
    margin:auto;

}